<a href="https://colab.research.google.com/github/zayedupal/MovieRecommendationNotebook/blob/master/MovieLens_recommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Recommendation System 101**

Used movielens small dataset https://grouplens.org/datasets/movielens/latest/

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

PATH = '/content/'

# read all the data
ratings = pd.read_csv(PATH + 'ratings.csv')
movies = pd.read_csv(PATH + 'movies.csv')
tags = pd.read_csv(PATH + 'tags.csv')
links = pd.read_csv(PATH + 'links.csv')
movies

      movieId  ...                                       genres
0           1  ...  Adventure|Animation|Children|Comedy|Fantasy
1           2  ...                   Adventure|Children|Fantasy
2           3  ...                               Comedy|Romance
3           4  ...                         Comedy|Drama|Romance
4           5  ...                                       Comedy
...       ...  ...                                          ...
9737   193581  ...              Action|Animation|Comedy|Fantasy
9738   193583  ...                     Animation|Comedy|Fantasy
9739   193585  ...                                        Drama
9740   193587  ...                             Action|Animation
9741   193609  ...                                       Comedy

[9742 rows x 3 columns]

**1. POPULARITY BASED RECOMMENDATION**

In [0]:
g = ratings.groupby('userId')['rating'].count()
np.unique(g)

In [0]:
g = ratings.groupby('movieId')['rating'].count()
np.unique(g)

We see that user with minimum given rating is 20,
Movie with minimum count of rating is 1.

Now, we'll give score to all the movies. Average rating is not a good score. Because, some movies may get less votes but high rating, which will underestimate movies with lesser rating but higher vote counts. So, we are using IMDB's weighted rating.



```
weighted rank (WR) = (v ÷ (v+m)) × R + (m ÷ (v+m)) × C

 where:
  R = average rating for the movie
  v = number of votes for the movie
  m = minimum votes required to be listed in the Top
  C = the mean vote across the whole report
```

In [0]:
movie_rating_mean = ratings.groupby('movieId',as_index=False)['rating'].mean()
movie_rating_mean.columns = ['movieId','avg_rating']
movie_rating_count = ratings.groupby('movieId',as_index=False)['rating'].count()
movie_rating_count.columns = ['movieId','votes']
movie_rating_mean_count = movie_rating_mean.merge(movie_rating_count,how='inner',on='movieId')
movie_rating_mean_count

      movieId  avg_rating  votes
0           1    3.920930    215
1           2    3.431818    110
2           3    3.259615     52
3           4    2.357143      7
4           5    3.071429     49
...       ...         ...    ...
9719   193581    4.000000      1
9720   193583    3.500000      1
9721   193585    3.500000      1
9722   193587    3.500000      1
9723   193609    4.000000      1

[9724 rows x 3 columns]

In [0]:
C = movie_rating_mean_count['avg_rating'].mean()
m = movie_rating_mean_count['votes'].quantile(0.9)
def weighted_rating(x, m=1, C=1):
    v = x['votes']
    R = x['avg_rating']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [0]:
movie_score = movie_rating_mean_count[movie_rating_mean_count['votes']>=m] 
movie_score['score'] = movie_score.apply(weighted_rating,axis=1)
movie_score = movie_score.sort_values('score',ascending=False)
movie_score

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      movieId  avg_rating  votes     score
277       318    4.429022    317  4.418239
659       858    4.289062    192  4.272021
2224     2959    4.272936    218  4.257991
602       750    4.268041     97  4.234694
921      1221    4.259690    129  4.234615
...       ...         ...    ...       ...
1173     1562    2.214286     42  2.186047
2028     2701    2.207547     53  2.185185
1234     1644    2.109375     32  2.075758
1372     1882    1.954545     33  1.926471
1144     1499    1.925926     27  1.892857

[976 rows x 4 columns]

Return the top 10 movies according to the score

In [0]:
movie_top_ten = movie_score.head(10)
movie_top_ten = movies[movies['movieId'].isin(movie_top_ten['movieId'])]
# movie_top_ten
movie_top_ten

      movieId  ...                       genres
46         50  ...       Crime|Mystery|Thriller
277       318  ...                  Crime|Drama
602       750  ...                   Comedy|War
659       858  ...                  Crime|Drama
686       904  ...             Mystery|Thriller
906      1204  ...          Adventure|Drama|War
914      1213  ...                  Crime|Drama
922      1221  ...                  Crime|Drama
2226     2959  ...  Action|Crime|Drama|Thriller
6315    48516  ...         Crime|Drama|Thriller

[10 rows x 3 columns]

**2. CONTENT BASED RECOMMENDER**

In short, we'll recommend content based similar movies. For this dataset, the content can be described with the **genres** and **tags**

We are combining these two in a new dataframe name **movie_metadata**

In [2]:
movie_tags = tags.groupby('movieId')['tag'].apply(list).reset_index(name='tag')
movie_tags['tag'] = movie_tags['tag'].apply(lambda x: ' '.join(x))
movie_genres_tags = movies.merge(movie_tags,how='inner',on='movieId')
movie_metadata = movie_genres_tags
movie_metadata['genres'] = movie_metadata['genres'].apply(lambda x: x.replace('|',' '))
movie_metadata['meta'] = movie_metadata['genres']+movie_metadata['tag'] 
movie_metadata= movie_metadata.drop(['genres','tag'],1)
# movie_metadata['meta'] = movie_metadata['meta']
movie_metadata

      movieId  ...                                               meta
0           1  ...  Adventure Animation Children Comedy Fantasypix...
1           2  ...  Adventure Children Fantasyfantasy magic board ...
2           3  ...                            Comedy Romancemoldy old
3           5  ...                             Comedypregnancy remake
4           7  ...                               Comedy Romanceremake
...       ...  ...                                                ...
1567   183611  ...  Action Comedy Crime HorrorComedy funny Rachel ...
1568   184471  ...  Action Adventure Fantasyadventure Alicia Vikan...
1569   187593  ...  Action Comedy Sci-FiJosh Brolin Ryan Reynolds ...
1570   187595  ...  Action Adventure Children Sci-FiEmilia Clarke ...
1571   193565  ...  Action Animation Comedy Sci-Fianime comedy gin...

[1572 rows x 3 columns]

Now use count vectorizer to vectorize metadata texts movie wise

In [3]:

from sklearn.feature_extraction.text import CountVectorizer

count_vectorizer = CountVectorizer(stop_words='english')

#Replace NaN with an empty string
movie_metadata['meta'] = movie_metadata['meta'].fillna('')

#Construct the required CountVectorizer matrix by fitting and transforming the data
count_matrix  = count_vectorizer.fit_transform(movie_metadata['meta'])

#Output the shape of count_matrix
count_matrix .shape

(1572, 2375)

Now let's find similarity between each pair of movies. We'll use sklearn's **linear_kernel** for this. So, each of the row, has values of similarities with every other movies.

In [4]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute the cosine similarity matrix
cosine_sim = cosine_similarity(count_matrix, count_matrix)
cosine_sim.shape

(1572, 1572)

In [5]:
#Construct a reverse map of indices and movie ids
indices = pd.Series(movie_metadata.index, index=movie_metadata['title'])
indices

title
Toy Story (1995)                         0
Jumanji (1995)                           1
Grumpier Old Men (1995)                  2
Father of the Bride Part II (1995)       3
Sabrina (1995)                           4
                                      ...
Game Night (2018)                     1567
Tomb Raider (2018)                    1568
Deadpool 2 (2018)                     1569
Solo: A Star Wars Story (2018)        1570
Gintama: The Movie (2010)             1571
Length: 1572, dtype: int64

Get Top 10 recommendations according to similarity

In [0]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title,movie_metadf,movies_df):
    # title = movie_df[movie_df['movieId']==movie_id]['title'].values[0]
    print('you want recommendation for: ', title)
    # Get the index of the movie that matches the title
    idx = indices[title]
    # print(idx)
    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # print(sim_scores)
    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]
    # print(sim_scores)

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    top_movie_ids = movie_metadf['movieId'].iloc[movie_indices].reset_index()
    
    return movie_metadata['title'].iloc[movie_indices]
    # Return the top 10 most similar movies
    # return top_movies

In [7]:
get_recommendations('Batman Returns (1992)',movie_metadata,movies)

you want recommendation for:  Batman Returns (1992)

43                         Batman Forever (1995)
113                   In the Line of Fire (1993)
360    Butch Cassidy and the Sundance Kid (1969)
383                                  Jaws (1975)
384                              Jaws 3-D (1983)
411                             G.I. Jane (1997)
412                         Air Force One (1997)
540                            Siege, The (1998)
553                             Rocky III (1982)
554                              Rocky IV (1985)
Name: title, dtype: object

**3. COLLABORATIVE FILTERING**

**a. Single value decomposition(SVD)**

In [8]:
pip install surprise

Collecting surprise
  Downloading https://files.pythonhosted.org/packages/61/de/e5cba8682201fcf9c3719a6fdda95693468ed061945493dea2dd37c5618b/surprise-0.1-py2.py3-none-any.whl
Collecting scikit-surprise
  Downloading https://files.pythonhosted.org/packages/f5/da/b5700d96495fb4f092be497f02492768a3d96a3f4fa2ae7dea46d4081cfa/scikit-surprise-1.1.0.tar.gz (6.4MB)
     |████████████████████████████████| 6.5MB 2.9MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (0.14.1)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.17.5)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.4.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from scikit-surprise->surprise) (1.12.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.0-cp36-cp36m-linux_x86_64.whl size=1678243 sha256=90308b7d2d648731d12ca9fecab4310bf1e79a376afd968d9ef320298f2cd513
  Stored in directory: /root/.cache/pip/wheels/cc/fa/8c/16c93fccce688ae1bde7d979ff102f7bee980d9cfeb8641bcf
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.0 surprise-0.1

In [9]:
from surprise import Reader, Dataset, SVD, model_selection
reader = Reader()
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [0]:
# First train an SVD algorithm on the movielens dataset.
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
trainset = data.build_full_trainset()
algo = SVD()

In [11]:
model_selection.cross_validate(algo,data,measures=['RMSE','MAE'])

{'fit_time': (5.6546220779418945,
  5.561483383178711,
  5.604272127151489,
  5.5944318771362305,
  5.6892616748809814),
 'test_mae': array([0.67535647, 0.66798684, 0.67049132, 0.67187647, 0.6698693 ]),
 'test_rmse': array([0.88201859, 0.86720441, 0.87487   , 0.87295085, 0.87024481]),
 'test_time': (0.30565428733825684,
  0.14845848083496094,
  0.28922080993652344,
  0.16475534439086914,
  0.30599284172058105)}

In [0]:
# taken from surprise docs
import collections
def get_top_n(predictions, n=10):
    '''Return the top-N recommendation for each user from a set of predictions.

    Args:
        predictions(list of Prediction objects): The list of predictions, as
            returned by the test method of an algorithm.
        n(int): The number of recommendation to output for each user. Default
            is 10.

    Returns:
    A dict where keys are user (raw) ids and values are lists of tuples:
        [(raw item id, rating estimation), ...] of size n.
    '''

    # First map the predictions to each user.
    top_n = collections.defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]

    return top_n

In [0]:
algo.fit(trainset)

# Than predict ratings for all pairs (u, i) that are NOT in the training set.
testset = trainset.build_anti_testset()
predictions = algo.test(testset)
# predictions
top_n = get_top_n(predictions, n=10)

In [14]:
print_count = 10
cur_p_count = 0
# Print the recommended items for each user
for uid, user_ratings in top_n.items():
    print(uid, [iid for (iid, _) in user_ratings])
    cur_p_count+=1
    if cur_p_count>=print_count:
      break

1 [318, 720, 914, 1272, 904, 912, 1250, 750, 4993, 5618]
2 [2959, 4973, 1213, 356, 750, 1252, 50, 2329, 858, 1267]
3 [1204, 112852, 1104, 3451, 28, 293, 1148, 177593, 171763, 2580]
4 [741, 1178, 7153, 1272, 58559, 318, 1673, 3468, 2788, 1172]
5 [1262, 1228, 904, 3037, 908, 1233, 2788, 33166, 1136, 1673]
6 [158966, 3451, 1237, 1704, 1276, 2248, 8368, 48516, 1104, 954]
7 [1198, 1262, 1197, 7090, 3681, 44555, 89745, 2997, 1204, 1223]
8 [2959, 4973, 1104, 2324, 1089, 1248, 1199, 1204, 912, 177593]
9 [2571, 356, 593, 1197, 898, 2959, 7361, 904, 3451, 1252]
10 [1272, 1291, 105504, 1278, 1249, 3114, 3451, 5816, 2761, 1952]